body {
  margin: 0;
  width: 100%;
  background-color: #2F3537;
  color: #FFF;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

hr {
  width: 95%;
  margin: auto;
}

.c-form-container {
  margin-top: 1rem;
  width: 60vw;
}